﻿@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact Details</h1>
    <p>Name: Bipin Khanal</p>

    <phone tel="9815115951"></phone>
    <email mail-to="bipin"></email>

</div>